*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

#display{
  margin: 10% 50% 20% 50%;
  transform: translate(-50%);
  width: 85px;
  height: 40px;
  border-radius: 10px;
  background-color: #fff;
}

#btn1 {
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  margin-top: 35%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

#btn2 {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: none;
  display: block;
  margin-left: 70%;
}

.Main{
  background-color: black;
  width: 100px;
  height: 170px;
  margin-top: 45%;
  margin-left: 50%;
  transform: translate(-50%, -60%);
  border-radius: 15px;
  padding: 1px;
}


